#matrix/
mat_vec/
gl/bindings.rs
*.lock
target/
#*.iml
config.txt
assets/backpack/
assets/metal.png
assets/marble.jpg
assets/grass.png
assets/skybox
assets/planet
#assets/rock
assets/wood.png
assets/brickwall.jpg
assets/brickwall_normal.jpg
